#component-explore {
    clear: both;
    text-align: center;
    color: white;
    padding: 60px;
    font-size: 30px;
}

#button-view-all {
    padding: 5px 18px;
    font-size: 16px;
    background-color:#373d41;
    color: white;
    border: 1px solid white;
}