<div id="component-about">
  <div class="item-about">
    <div class="title-item-about">
      About
    </div>
    <div class="detail-item-about">
      Why Alibaba Cloud?
    </div>
    <div class="detail-item-about">
        Why Alibaba Cloud?
    </div>
    <div class="detail-item-about">
        Princing Models
    </div>
    <div class="detail-item-about">
        Products
    </div>
    <div class="detail-item-about">
        Customer
    </div>
    <div class="detail-item-about">
        Partners
    </div>
    <div class="detail-item-about">
        Startups
    </div>
    <div class="detail-item-about">
        The Computing
    </div>
    <div class="detail-item-about">
        Conference
    </div>

  </div>

  <div class="item-about">
    <div class="title-item-about">
      Promotions
    </div>
    <div class="detail-item-about">
      <a href="#" class="a-item-about">
          Get Free Credit
      </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Refer a Friend
        </a>
      </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Starter Package
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Web Hosting
        </a>
    </div>
  </div>


  <div class="item-about">
    <div class="title-item-about">
      Explore
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            ChinaConnect
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            ICP License Support
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Getting Started
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Blog
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Marketplace
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Training & Certification
        </a>
    </div>

  </div>


  <div class="item-about">
    <div class="title-item-about">
      Support
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Contact Sales
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Submit a Ticket
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            After-Sales Support
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Report Abuse
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Forum
        </a>
    </div>

  </div>



  <div class="item-about">
    <div class="title-item-about">
        Resources
    </div>
    
    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Documentation Center
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Alibaba Cloud MVP
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Security & Compliance
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Press Room
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            WHOIS
        </a>
    </div>

    <div class="detail-item-about">
        <a href="#" class="a-item-about">
            Site Map
        </a>
    </div>

  </div>

  <div class="item-about" style="padding-left:30px; width:200px;">
    <div id="title-item-about-logo">
      <img src="../../assets/images/alicloud-logo.png" width="134px" height="56px">
    </div>
    <div id="detail-item-about-logo">
        A comprehensive suite of global cloud computing services to poweer your business
    </div>
  </div>

</div>