<div id="component-copyright">

  <div class="item-about-us">
    <a href="#" class="a-item-about-us">About us</a>
  </div>

  <div class="item-about-us">
      <a href="#" class="a-item-about-us">Privacy Policy</a>
  </div>

  <div class="item-about-us">
      <a href="#" class="a-item-about-us" >Legal</a>
  </div>

  <div class="item-about-us">
      <a href="#" class="a-item-about-us" >Notice List</a>
  </div>

  <div class="item-alibaba-group" style="clear:both;">
    <a href="#" class="a-item-alibaba-group">
      Alibaba Group
    </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Tabao Marketplace
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Tmall
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Juhuasuan
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        AliExpress
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Alibaba.com
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        1688
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        alimama
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Fliggy
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        YunOS
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        AliTelecom
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        AutoNavi
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        UCWeb
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Umeng
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Xiami
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Alibaba Planet
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        DingTalk
      </a>
  </div>

  <div class="item-alibaba-group">
      <a href="#" class="a-item-alibaba-group">
        Alipay
      </a>
  </div>


  <div class="item-alibaba-group" style="clear:both;padding-top:10px;padding-bottom:10px;">
      <a href="#" class="a-item-alibaba-group">
          @ 2009-2018 Copyright by Alibaba Cloud All rights reserved
      </a>
  </div>

  <div style="clear:both">
    <img src="../../assets/images/Truste.png" width="142px" height="45px">
  </div>

</div>