<div id="component-notice">
  <div class="item-notice">
    <div class="title-notice">
      Notice <br>
      __
    </div>
    <div class="list-noticte">

    <div class="detail-item-notice">
      <a href="#" >
        <div class="date-notice">
          Jan 25
        </div>
        <div class="info-notice">
          Connect Platform Launched
        </div>
      </a>
    </div>


    <div class="detail-item-notice">
      <a href="#">
          <div class="date-notice">
            Jan 15
          </div>
          <div class="info-notice">
            January 32 Alibaba Cloud Will Remove Two Public Images
          </div>
      </a>
    </div>


    <div class="detail-item-notice">
      <a href="#">
          <div class="date-notice">
            Jan 02
          </div>
          <div class="info-notice">
            Notice for Price Adjustment on ECS cloud disks
          </div>
        </a>
    </div>
    <a href="#" class="view-more">View More</a>  
    </div>
  </div>



  <!-- Press -->


  <div class="item-notice">
      <div class="title-notice">
        Press <br>
        __
      </div>
      <div class="list-noticte">
  
      <div class="detail-item-notice">
        <a href="#" >
          <div class="date-notice">
            Jan 29
          </div>
          <div class="info-notice">
            Alibaba Cloud Launches Malaysia City Br... <span style="color:#A9A9A9">Alibaba Cloud</span>
          </div>
        </a>
      </div>
  
  
      <div class="detail-item-notice">
        <a href="#">
            <div class="date-notice">
              Jan 18
            </div>
            <div class="info-notice">
              Alibaba's Damo Academy Hires Prominen... <span style="color:#A9A9A9">Alibaba Cloud</span>
            </div>
        </a>
      </div>
  
  
      <div class="detail-item-notice">
        <a href="#">
            <div class="date-notice">
             Dec 20
            </div>
            <div class="info-notice">
              Alibaba Cloud's ET Aviation Brain Piloted i... <span style="color:#A9A9A9">Alibaba Cloud</span>
            </div>
          </a>
      </div>
      <a href="#" class="view-more">View More</a>  
      </div>
    </div>


    <!-- Blog --> 

    <div class="item-notice">
        <div class="title-notice">
          Blog <br>
          __
        </div>
        <div class="list-noticte">
    
        <div class="detail-item-notice">
          <a href="#" >
            <div class="date-notice">
              Jan 31
            </div>
            <div class="info-notice">
              25 Things You Should Know About Developers in China
            </div>
          </a>
        </div>
    
    
        <div class="detail-item-notice">
          <a href="#">
              <div class="date-notice">
                Jan 22
              </div>
              <div class="info-notice">
                How to Implement Neural Networks with TensorFlow
              </div>
          </a>
        </div>
    
    
        <div class="detail-item-notice">
          <a href="#">
              <div class="date-notice">
               Jan 17
              </div>
              <div class="info-notice">
                Geoffrey Hinton's Capsule Networks: A Novel Approach to Deep Learning
              </div>
            </a>
        </div>
        <a href="#" class="view-more">View More</a>  
        </div>
      </div>


</div>