<div id="component_why">

  <div id="info_why">
    <div id="title_why">
      Why Alibaba Cloud
    </div>
    <div id="detail_why">
      Alibaba Cloud is trusted by over 1 million paying customers worldwide, and is an Offical Cloud Services Partner to the Olympic Games. 
    </div>
    <div style="padding-bottom:30px">
      ___
    </div>
    <button id="button_learn_more_why">
      Learn More
    </button>
  </div>


  <div id="list_option_why">

    <div class="item_option_why">
      <div class="icon_item_why">
        <img src="../../assets/images/cloud_why_icon.png" width="48px" height="48px">
      </div>
      <div class="info_item_why">
        <div class="title_item_why">
          Cloud Without Borders
        </div>
        <div class="detail_item_why">
          Cut down latency and deploy globally on Alibaba Cloud's international network of 17 data center regions and manage all regions via a single global account.
        </div>
      </div>
    </div>


    <div class="item_option_why">
        <div class="icon_item_why">
          <img src="../../assets/images/safeguad_why_icon.png" width="48px" height="48px">
        </div>
        <div class="info_item_why">
          <div class="title_item_why">
            Safeguard Your Data 
          </div>
          <div class="detail_item_why">
            Alibaba Cloud is committed to the highest levels of compliance including Germany's C5 standard, PCI DSS for payments, HIPAA for heathcare, and the EU GDPR for data protection and privacy.
          </div>
        </div>
      </div>



      <div class="item_option_why">
          <div class="icon_item_why">
            <img src="../../assets/images/record_why_icon.png" width="48px" height="48px">
          </div>
          <div class="info_item_why">
            <div class="title_item_why">
              Record-breaking Performance 
            </div>
            <div class="detail_item_why">
              Alibaba Cloud has broken records in data sorting technology, DDoS protection, and e-commerce transaction processing volume.
            </div>
          </div>
        </div>



        <div class="item_option_why">
            <div class="icon_item_why">
              <img src="../../assets/images/china_why_icon.png" width="48px" height="48px">
            </div>
            <div class="info_item_why">
              <div class="title_item_why">
                China's Largest Cloud Provider 
              </div>
              <div class="detail_item_why">
                Access China's largest cloud network, with 1,000+ CDN nodes, 7 deployment regions, ICP support, and multiple Availability Zones in each region. <span style="color:aqua">See ChinnaConnect</span>
              </div>
            </div>
          </div>

  </div>

</div>
