<div id="component-top-page">
<div id="logo-alibaba">
  <img src="../../assets/images/logo-alibaba.png" id="image-logo">
  <span class="option-web">Why Us</span>
  <span class="option-web">Products</span>
  <span class="option-web">Solutions</span>
  <span class="option-web">Pricing</span>
  <span class="option-web">Marketplace</span>
  <span class="option-web">Resources</span>
  <span class="option-web">Support</span>
  <span >
    <img src="../../assets/images/search-icon.png" id="search-icon">
  </span>
  <span class="option-web">
    <img src="../../assets/images/notification.png" style="width=16px;height:16px;margin-right:4px">
    International
  </span>
  <span>
    <img src="../../assets/images/user-icon.png" style="width:18px;height:18px">
  </span>
  <span id="free-account" class="option-web">Free Account</span>
</div>
</div>