<div id="component-services">

  <div class="element-services" >
    <div class="option-1" (mouseover)="flag_one=false">
      <div class="title-services">
        <img src="../../assets/images/Elastic-icon.png" width="60px" height="60px">
        <br>
        <div class="title_s">Elastic Computing</div>
      </div>
      <div class="detail-services">
        <a href="#" class="option-services">
            <h5 class="title-option">Elastic Compute Service </h5>
            <div class="detail-option" hidden>Deploy your virtual cloud services</div>
        </a>
        <a href="#" class="option-services">
            <h5 class="title-option">Auto Scaling</h5>
            <div class="detail-option" hidden>Deploy your virtual cloud services</div>
        </a>
        <a href="#" class="option-services">
            <h5 class="title-option">Server Load Balancer</h5>
            <div class="detail-option" hidden>Deploy your virtual cloud services</div>
        </a>
        <a href="#" class="option-services">
            <h5 class="title-option">Container Service</h5>
            <div class="detail-option" hidden>Deploy your virtual cloud services</div>
        </a>
      </div>
    </div>

    <div class="option-1" (mouseover)="flag_two=false" >
        <div class="title-services">
          <img src="../../assets/images/storages-icon.png" width="60px" height="60px">
          <br>
          <div class="title_s">Storage & Networking</div>
        </div>
        <div class="detail-services">
          <a href="#" class="option-services">
              <h5 class="title-option">Object Storage Service </h5>
              <div class="detail-option" hidden>Deploy your virtual cloud services</div>
          </a>
          <a href="#" class="option-services">
              <h5 class="title-option">Table Store</h5>
              <div class="detail-option" hidden>Deploy your virtual cloud services</div>
          </a>
          <a href="#" class="option-services">
              <h5 class="title-option">CDN</h5>
              <div class="detail-option" hidden>Deploy your virtual cloud services</div>
          </a>
          <a href="#" class="option-services">
              <h5 class="title-option">Virtual Private Cloud</h5>
              <div class="detail-option" hidden>Deploy your virtual cloud services</div>
          </a>
        </div>
      </div>

      <div class="option-1" (mouseover)="flag_three=false">
          <div class="title-services">
            <img src="../../assets/images/database-icon.png" width="60px" height="60px">
            <br>
            <div class="title_s">Database Services</div>
          </div>
          <div class="detail-services">
            <a href="#" class="option-services">
                <h5 class="title-option">ApsaraDB for RDS </h5>
                <div class="detail-option" hidden>Deploy your virtual cloud services</div>
            </a>
            <a href="#" class="option-services">
                <h5 class="title-option">ApsaraDB for MongoDB</h5>
                <div class="detail-option" hidden>Deploy your virtual cloud services</div>
            </a>
            <a href="#" class="option-services">
                <h5 class="title-option">ApsaraDB for Redis</h5>
                <div class="detail-option" hidden>Deploy your virtual cloud services</div>
            </a>
            <a href="#" class="option-services">
                <h5 class="title-option">Analytic</h5>
                <div class="detail-option" hidden>Deploy your virtual cloud services</div>
            </a>
          </div>
        </div>

        <div class="option-1" (mouseover)="flag_four=false" >
            <div class="title-services">
              <img src="../../assets/images/security-icon.png" width="60px" height="60px">
              <br>
              <div class="title_s">Security</div>
            </div>
            <div class="detail-services">
              <a href="#" class="option-services">
                  <h5 class="title-option">Anti-DDoS Basic</h5>
                  <div class="detail-option" hidden>Deploy your virtual cloud services</div>
              </a>
              <a href="#" class="option-services">
                  <h5 class="title-option">Anti-DDos Pro</h5>
                  <div class="detail-option" hidden>Deploy your virtual cloud services</div>
              </a>
              <a href="#" class="option-services">
                  <h5 class="title-option">Mobile Security</h5>
                  <div class="detail-option" hidden>Deploy your virtual cloud services</div>
              </a>
              <a href="#" class="option-services">
                  <h5 class="title-option">Web Application Firewall</h5>
                  <div class="detail-option" hidden>Deploy your virtual cloud services</div>
              </a>
            </div>
          </div>


  
  
    <div class="element-services-2" style="clear:both">
    <div class="option-2" style="transform:scale(1.05)" [hidden]="flag_one"  (mouseleave)="flag_one=true">
      <div class="title-services-2">
        <img src="../../assets/images/Elastic-icon-2.png" width="60px" height="60px">
        <div class="title_s2">Elastic Computing</div>
      </div>
      <div class="detail-services-2">
        <a href="#" class="option-services-2">
          <div class="title-option-2">
            Elastic Compute Service 
          </div>
          <div class="detail-option-2">
            Deploy your virtual cloud servers
          </div>
        </a>

        <a href="#" class="option-services-2">
            <div class="title-option-2">
              Auto Scaling 
            </div>
            <div class="detail-option-2">
              Adjust and automate computing resources
            </div>
          </a>

         <a href="#" class="option-services-2">
            <div class="title-option-2">
              Server Load Balancer 
            </div>
            <div class="detail-option-2">
              Distribute traffic across resources
            </div>
          </a>
        
          <a href="#" class="option-services-2">
              <div class="title-option-2">
                Container Service
              </div>
              <div class="detail-option-2">
                Manage your Dockerized applications
              </div>
            </a>
      </div>
    </div>


    <div class="option-2" style="position:absolute;left:295px;transform:scale(1.05)" [hidden]="flag_two" (mouseleave)="flag_two=true">
        <div class="title-services-2">
          <img src="../../assets/images/domain-icon-2.png" width="60px" height="60px">
          <div class="title_s2">Storage & Networking</div>
        </div>
        <div class="detail-services-2">
          <a href="#" class="option-services-2">
            <div class="title-option-2">
              Object Storage Service 
            </div>
            <div class="detail-option-2">
              Store, backup and archive your data
            </div>
          </a>
  
          <a href="#" class="option-services-2">
              <div class="title-option-2">
                Table Store 
              </div>
              <div class="detail-option-2">
                Store data on a NoSQL database
              </div>
            </a>
  
           <a href="#" class="option-services-2">
              <div class="title-option-2">
                CDN 
              </div>
              <div class="detail-option-2">
                Speed up file distribution to end-users
              </div>
            </a>
          
            <a href="#" class="option-services-2">
                <div class="title-option-2">
                  Virtual Private Cloud
                </div>
                <div class="detail-option-2">
                  Launch a private cloud network
                </div>
              </a>
        </div>
      </div>

      <div class="option-2" style="position:absolute;left:590px;transform:scale(1.05)" [hidden]="flag_three" (mouseleave)="flag_three=true">
          <div class="title-services-2">
            <img src="../../assets/images/security-icon-2.png" width="60px" height="60px">
            <div class="title_s2">Database Services</div>
          </div>
          <div class="detail-services-2">
            <a href="#" class="option-services-2">
              <div class="title-option-2">
                ApsaraDB for RDS 
              </div>
              <div class="detail-option-2">
                MySQL, SQL Server and PostgreSQL
              </div>
            </a>
    
            <a href="#" class="option-services-2">
                <div class="title-option-2">
                  ApsaraDB for MongoDB 
                </div>
                <div class="detail-option-2">
                  A document-oriented database service
                </div>
              </a>
    
             <a href="#" class="option-services-2">
                <div class="title-option-2">
                  ApsaraDB for Redis 
                </div>
                <div class="detail-option-2">
                  In-memory database caching
                </div>
              </a>
            
              <a href="#" class="option-services-2">
                  <div class="title-option-2">
                    Analytic DB
                  </div>
                  <div class="detail-option-2">
                    Gain insights with OLAP based data analytics
                  </div>
                </a>
          </div>
        </div>

        <div class="option-2" style="position:absolute;left:885px;transform:scale(1.05)" [hidden]="flag_four" (mouseleave)="flag_four=true">
            <div class="title-services-2">
              <img src="../../assets/images/security-icon-22.png.png" width="60px" height="60px">
              <div class="title_s2">Security</div>
            </div>
            <div class="detail-services-2">
              <a href="#" class="option-services-2">
                <div class="title-option-2">
                  Anti-DDoS Basic 
                </div>
                <div class="detail-option-2">
                  Safeguard your data and applications
                </div>
              </a>
      
              <a href="#" class="option-services-2">
                  <div class="title-option-2">
                    Anti-DDoS Pro 
                  </div>
                  <div class="detail-option-2">
                    Protect against high volume DDoS attacks
                  </div>
                </a>
      
               <a href="#" class="option-services-2">
                  <div class="title-option-2">
                    Mobile Security 
                  </div>
                  <div class="detail-option-2">
                    Protect your mobile applications
                  </div>
                </a>
              
                <a href="#" class="option-services-2">
                    <div class="title-option-2">
                      Web Application Firewall
                    </div>
                    <div class="detail-option-2">
                      Secure your web applications
                    </div>
                  </a>
            </div>
          </div>
  </div>

</div>