<div id="component-grow">
  <div id="title-grow">
      Grow Globally on the Alibaba Cloud Network <br>
      __
  </div>
  <div id="map-alibaba">
    <img src="../../assets/images/map_alibaba.png" width="700px" height="450px" >
  </div>

  <div id="list-grow">
    <div class="item-grow">
      <div class="title-item">
      No.1
      </div>
      <div class="hspace">
        ____
      </div>
      <div class="detail-item">
        Public cloud vendor in China (IDC 2014)
      </div>
    </div>


    <div class="item-grow">
        <div class="title-item">
        17
        </div>
        <div class="hspace">
          ____
        </div>
        <div class="detail-item">
          International data center regions
        </div>
      </div>


      <div class="item-grow">
          <div class="title-item">
            1,200+
          </div>
          <div class="hspace">
            ____
          </div>
          <div class="detail-item">
            CDN nodes around the world
          </div>
        </div>


        <div class="item-grow">
            <div class="title-item">
            1,011,000+
            </div>
            <div class="hspace">
              ____
            </div>
            <div class="detail-item">
              Paying customers worldwide
            </div>
          </div>


  </div>


</div>