<div id="component-customer">
  <div id="info-customer">
    <div>
      Customer Success Stories <br>
      __
    </div>
    <button id="button-customer">
      See More Customers
    </button>
  </div>

  <div id="list-customer">
    <div class="logo-customer">
      <img src="../../assets/images/philips.png" width="170px" height="50px">
    </div>

    <div class="logo-customer">
      <img src="../../assets/images/alipay.png" width="170px" height="50px">
    </div>

    <div class="logo-customer" style="padding-right:0px;">
        <img src="../../assets/images/strikingly.png" width="170px" height="50px">
    </div>

    <div class="logo-customer">
        <img src="../../assets/images/worktile.png" width="170px" height="50px">
    </div>

    <div class="logo-customer">
        <img src="../../assets/images/blogmint.png" width="170px" height="50px">
    </div>

    <div class="logo-customer" style="padding-right:0px;">
        <img src="../../assets/images/schneider.png" width="170px" height="50px">
    </div>

  </div>

</div>